<div class="fp-affichage">
  <div class="container-fluid fp-container">
    <div class="row">
      <div class="col timer-display">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="row app-links">
      <div class="col">
        <a [routerLink]="['/display']" routerLinkActive="router-link-active">go to display</a>
        <br />
        <a [routerLink]="['/admin']" routerLinkActive="router-link-active">go to admin</a>
      </div>
    </div>
  </div>
  <footer class="footer fixed-bottom mb-3">
    <div class="container-fluid text-right">
      <span class="dot connected" title="Connecté" *ngIf="isConnected()"></span>
      <span class="dot disconnected" title="Non connecté !" *ngIf="!isConnected()"></span>
    </div>
  </footer>
</div>
