<div class="container-fluid">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a [routerLink]="['/display']" routerLinkActive="router-link-active">go to display</a>
      <br />
      <a [routerLink]="['/admin']" routerLinkActive="router-link-active">go to admin</a>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid text-right">
    <small class="text-muted" *ngIf="isConnected()">Connecté</small>
    <small class="text-danger" *ngIf="!isConnected()">Non connecté !</small>
  </div>
</footer>
