<app-display></app-display>
<div class="text-center">
<button type="button" class="btn btn-lg btn-outline-success mr-2" (click)="timerService.startTimer()">Start</button>
<button type="button" class="btn btn-lg btn-outline-warning mr-2" (click)="timerService.pauseTimer()">Pause</button>
<button type="button" class="btn btn-lg btn-outline-danger mr-2" (click)="timerService.stopTimer()">Stop</button>
<button type="button" class="btn btn-lg btn-outline-primary mr-2" (click)="timerService.initTimer()">Init</button>
</div>
