/* WHITE
$clr-bg: #FFF;

$clr-primary: #333;
$clr-secondary: #90846b;
$clr-muted: #BBBBBB;
*/


/* DARK */
 $clr-bg: #14171c;
// $clr-bg: #29939f;

// $clr-primary: whitesmoke;
// $clr-primary: #14171c;
$clr-primary: #29939fb3;

// $clr-secondary: #90846b;
$clr-secondary: #fd4f4f;
$clr-muted: #444444;

$clr-danger: #ca0202;
