/* WHITE
$clr-bg: #FFF;

$clr-primary: #333;
$clr-secondary: #90846b;
$clr-muted: #BBBBBB;
*/


/* DARK */
$clr-bg: #14171c;

$clr-primary: whitesmoke;
// $clr-secondary: #90846b;
$clr-secondary: #fd4f4f;
$clr-muted: #444444;

