/* WHITE
$clr-bg: #FFF;

$clr-primary: #333;
$clr-secondary: #90846b;
$clr-muted: #BBBBBB;
*/

/* DARK */
// $clr-bg: #29939f;

/***************************
 * F-P
 ***************************/
/*
$img-bg: url('../assets/logo_home_b3.png');
$clr-bg: #14171c;
$clr-primary: whitesmoke;
$clr-primary: #14171c;
$filter-bg: invert(0);
$clr-timer-bg: unset;
*/

/***************************
 * VIVANCE
 ***************************/
// $clr-primary: #29939fb3;
$img-bg: url('../assets/vivance.png');



/***************************
 * ATHACLIE 1
 ***************************/
$clr-bg: #1a1a1a;
$clr-primary: #fba312;
$filter-bg: invert(0.4);
$clr-timer-bg: unset;


/***************************
 * ATHACLIE 2
 ***************************/
// $clr-bg: #4d4d4d;
// $clr-primary: #fba312;
// $filter-bg: invert(0);
// $clr-timer-bg: unset;


/***************************
 * ATHACLIE 3
 ***************************/
// $clr-bg: white;
// $clr-primary: #fba312;
// $filter-bg: invert(0);
// $clr-timer-bg: unset;



/***************************
 * ATHACLIE 4
 ***************************/
// $clr-bg: #fba312;
// $clr-primary: white;
// $filter-bg: invert(0);
// $clr-timer-bg: #ed3b29;


/***************************
 * ATHACLIE 5
 ***************************/
//  $clr-bg: #1a1a1a;
//  $clr-primary: #ed3b29;
//  $filter-bg: invert(0.4);
//  $clr-timer-bg: #fba312;


/***************************
 * ATHACLIE 6
 ***************************/
//  $clr-bg: #4d4d4d;
//  $clr-primary: #ed3b29;
//  $filter-bg: invert(0);
//  $clr-timer-bg: #fba312;


/***************************
 *
 ***************************/
// $clr-secondary: #90846b;
$clr-secondary: #fd4f4f;
$clr-muted: #444444;

$clr-danger: #ca0202;
$clr-danger-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
