<div class="app-timer-header">
  <small>Status : {{appTimer.state}}</small><br />
  <small>Durée d'un mouvement : {{appTimer.duration * 1000 | date:'H\'h\'mm':'UTC'}}</small>
</div>
<div>
  <h2 class="app-timer">Prochain mouvement</h2>
  <h1 *ngIf="appTimer" class="app-timer">{{appTimer.timeleft | hhmmss}}</h1>
  <h2 class="app-timer">{{appTimer.date_move}}</h2>
</div>
<div class="text-center">
  <hr class="app-timer-separator">
</div>
<div>
  <h2 class="app-timer secondary">Mouvement suivant</h2>
  <h1 *ngIf="appTimer" class="app-timer secondary">{{appTimer.timeleft_next | hhmmss}}</h1>
  <h2 class="app-timer secondary">{{appTimer.date_move_next}}</h2>
</div>
